*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 700;
}
body{
  background-image: url('../img/fondo.jpg');
  background-size: cover;
}


.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logo{
  
  size: 40px;
  font-size: xx-large
}

.info{
  
    height: 100vh;
    width: 130vh;
    display: flex;
    justify-content:center ;
}



.contInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    text-align: center;
}

.contenido{
  margin: 15px;
 
}
.form{
    width: 70vh;
    height: 100vh;
    display: flex;
    align-items: center;
  
}

.contacto{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(135, 199, 199);
    -webkit-box-shadow: 5px 4px 34px -7px rgb(0, 0, 0);
    -moz-box-shadow: 5px 4px 34px -7px rgb(0, 0, 0);
    box-shadow: 5px 4px 34px -7px rgb(0, 0, 0);
/* From https://css.glass */
background: rgba(154, 154, 154, 0.27);
border-radius: 16px;

backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.formulario input{
margin: 1rem;
padding: 8px;
border: 0px;
border-radius: 4px;
text-align: center;
}

.formulario textarea{
  
  margin: 1rem;
padding: 5px;
border: solid rgb(255, 255, 255) 1px;
border-radius: 4px;
text-align: center;
}

.btnEnviar{
  width: 40%;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  background-color: #607B84;
  border: 1px solid #607B84;
  color: white;
  
}



.titulos{
    text-align: center;
}

.titulo{
  margin: 10px;
  font-size: 50px;
}

.subtitulo{
  margin: 10px;
  font-size: 25px;
}

.botones{
display: flex;
}

.btn{
    width: 120px;
    height: 50px;
    background-color: #607B84;
    border-radius: 10px;
    margin: 30px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
    -moz-box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
    box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
}

.tituloBtn{
  color: white;
}

.btn a{
text-decoration: none;
color: black;
}


.enlaces{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}


.enlaces a{
    text-decoration: none;
    color: black;
}

.enlaces li{
    margin: 15px;
}





.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    height: 80% ;
    width: 80%;                                     
    /* max-width: 600px; */
    animation-name: modalopen;
    animation-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    right: 12%;
    top: 11%;
  }
  
  .close:hover,
  .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
      
    }
  }
  
  @keyframes modalclose {
    from {
      opacity: 1;
      
    }
    to {
      opacity: 0;
      
    }
  }
  


  .galeria{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    
  }
  .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #000000;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #000000;
  }
  .wrapper i:first-child{
    left: -50px;
    display: none;
  }
  .wrapper i:last-child{
    right: -50px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 500px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }

  
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }






  