*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    scroll-behavior: smooth;
}

body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
  }

.contenedor{
    display: flex;
    flex-direction: column;
}

.logo{
  
  size: 40px;
  font-size: xx-large
}

.info{
    height: 100vh;
    display: flex;
    justify-content:center ;
}

.contInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 100vh;
}

.form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloForm{
  color: white;
}

.tituloBtn{
  color: white;
}
.contacto{
    display: flex;   
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formulario input, .formulario textarea{


margin: 1rem;
border: solid black 1px;
border-radius: 6px;
text-align: center;
}



.titulos{
    text-align: center;
}
.botones{
  margin-top: 30px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.btn{
  width: 120px;
  height: 50px;
  background-color: #607B84;
  border-radius: 10px;
  margin: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
  -moz-box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
  box-shadow: 0px 0px 16px -7px rgba(52, 54, 117, 1);
}

.btn a{
text-decoration: none;
color: black;
}


.texto{
  width: 100%;
}

.enlaces{
    display: flex;
    list-style: none;
}


.enlaces a{
    text-decoration: none;
    color: black;
}

.enlaces li{
    margin: 15px;
}





.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 80% ;
    width: 80%;                                     
    /* max-width: 600px; */
    animation-name: modalopen;
    animation-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    right: 12%;
    top: 11%;
  }
  
  .close:hover,
  .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  


  .galeria{
    display: flex;
    padding: 0 35px;
   
    align-items: center;
    justify-content: center;
    
  }
  .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #000000;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #686868;
  }
  .wrapper i:first-child{
    left: -50px;
    display: none;
  }
  .wrapper i:last-child{
    right: -50px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 500px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }


  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
      }


  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }

    .modal-content{
        height: 100%;
        width: 100%;
        background-color: rgba(202, 252, 248, 0.212);
    }

    .btn{
      width: 95px;
      color: white;
    }

    
  }






  